
@import "font-awesome/css/font-awesome.min.css";

@font-face {
  font-family: Regular;
  src: url('src/assets/font/Righteous-Regular.ttf');
}
* {
  margin: 0;
  padding: 0;
  font-family: Regular;
}

.cart-area.d-n{
  display:block
}

.cart-area i {
  font-size:22px;
  float:left;
  margin-top:18px;
  color:#fff;
  margin-left:15px
}

.total{
  background: #fdbf07;
  line-height:42px;
  color:#fff;
  border-radius:10px;
  border:1px solid #212529;
  float:left;
  margin-top:15px;
}

.total span{
  display:inline-block;
  background:#fff;
  padding:0 13px;
  color:#000;
  border-top-right-radius:10px;
  border-bottom-right-radius:10px;
  margin-left:20px;
}

/*
  Products
*/


.product-box img {
  width: 450px;
}

.items select {
  width: 100px;
  height: 40px;
  border-radius: 40px;
  padding-left: 15px;
  margin-bottom: 10px;
  outline: 0;
  margin-left: 5px;
}
.product-box{
  margin-bottom:60px
}
.price{
  margin:15px 0 0;
  font-weight:800;
  color:#0da8e4
}
.product-box h1{
  font-size:18px;
  border-bottom:1px solid #ccc;
  padding-bottom:5px;
  font-weight:600;
  padding-top:12px;
  margin-bottom:7px
}
.product-box h2{
  font-size:15px;
  padding-bottom:0;
  font-weight:500;
  color:#585858
}


.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}


/*
 * ----------------------------
 * Shopping Cart Checkout
 * ----------------------------
 */

.form-area{
  background:#e5e5e5;
  position:relative;
  margin-bottom:45px;
  padding:50px 20px;
  border:3px solid #ccc
}
.form-area h3{
  position:absolute;
  top:-26px;
  left:13px;
  background:#e5e5e5;
  padding:10px 20px;
  font-weight:500;
  z-index:23;
  display:inline-block
}
.input-space{
  margin-bottom:20px
}
.input-space label{
  padding-left:31px;
  font-size:14px;
  margin-bottom:50px
}
.input-space input[type=text]{
  width:100%;
  height:40px;
  border-radius:30px;
  outline:0;
  padding:10px;
  border:1px solid #ccc
}
.input-space select{
  width:100%;
  height:40px;
  border-radius:30px;
  outline:0;
  padding:0 10px;
  border:1px solid #ccc
}
.au-checkbox{
  display:block;
  position:relative;
  cursor:pointer;
  font-size:22px;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}
.au-checkbox input{
  position:absolute;
  opacity:0;
  cursor:pointer
}
.au-checkmark{
  position:absolute;
  top:0;
  left:0;
  height:22px;
  width:22px;
  background-color:#fff!important;
  border:2px solid #e5e5e5;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px
}
.au-checkbox:hover input~.au-checkmark{
  background-color:transparent
}
.au-checkbox input:checked~.au-checkmark{
  background-color:#fff
}
.au-checkmark:after{
  content:"";
  position:absolute;
  display:none
}
.au-checkbox input:checked~.au-checkmark:after{
  display:block
}
label.date{
  padding-top:8px
}
.au-checkbox .au-checkmark:after{
  left:5px;
  top:-1px;
  width:9px;
  height:15px;
  border:solid #0da8e4;
  border-width:0 4px 4px 0;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg)
}
/*option:first{*/
/*  color:#ccc*/
/*}*/
select{
  color:#828482
}
