<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
  <form class="" style="margin-left: 20px; margin-top: 5px; padding: 5px" role="search">
    <input #myInput type="search" class="form-control form-control-dark text-bg-dark "  aria-label="Search">
  </form>
  <div class="text-end" style="margin-left: 10px; margin-top: 5px; padding: 5px">
    <button (click)="searchProducts(myInput.value)"  type="button" class="btn btn-warning ">Search</button>
  </div>
</div>

